

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #FFF8DE;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}


nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px;
}
nav a:hover{
    background-color: rgb(211, 112, 76);
    color: grey;
}
body{
    background-color: #C1D0B5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* General styles for the hero section */
#hero {
    position: relative;
    width: 100%;  /* Full width of the container */
    height: 700px; /* Adjust as needed */
    overflow: hidden; /* Hide any images off the screen */
}

/* Styling for the image gallery wrapper */
.image-gallery {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Make the image list a flex container (stacked vertically) */
.image-gallery ul {
    display: flex;
    padding: 0;
    margin: 0;
    transition: transform 5s ease-in-out; /* Smooth sliding transition */
}

/* Each image (list item) takes up 100% of the width of the container */
.image-gallery li {
    list-style: none;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    position: absolute; /* Stack images on top of each other */
}

/* Image styling */
.image-gallery img {
    width: 100%; /* Image will stretch to fill the container */
    height: 100%; /* Height matches the container */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    transition: transform 5s ease-in-out; /* Smooth transition when sliding */
}

/* Hide all images by default */
.image-gallery li {
    opacity: 0;
    transform: translateX(100%);  /* Start off-screen to the right */
    transition: opacity 1s ease, transform 1s ease;
     /* Position images off-screen */
}

/* Make the active image visible */
.image-gallery li.active {
    opacity: 1;
    transform: translateX(0%); /* Bring the image back into view */
}

.learn-more-box {
    /* Add your desired box styles here */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .learn-more-content {
    /* Style the hidden content */
    /* Initially hidden */
    display: none;
  }
  
  .learn-more-button {
    /* Style the button */
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }


footer {

    background-color: #99A98F;
    color: black;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding-top: 15px;
}


footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}   